:root {
	--biru-muda: #2183fe;
	--biru-tua: #1f5ba7;
	--hijau: #83a342;
	--merah: #ff5858;
	--putih: #ffffff;
	--putih-2: #e8f0fe;
	--abu-abu: #ced4da;
	--abu-abu-tua: #818181;
}
div.container {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 100vh;
}
div.block.active {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: grey;
	opacity: 0.5;
}
div.block {
	display: none;
	z-index: 1;
}
main {
	display: flex;
	justify-content: center;
	padding: 80px 0px;
}
div.form-data {
	display: flex;
	flex-wrap: wrap;
	width: 865px;
}
div.data {
	width: 25%;
	background-color: var(--biru-muda);
	color: var(--putih);
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 20px 10px;
}
div.data.type2 {
	width: 100%;
	display: none;
	border-radius: 6px 6px 0px 0px;
}
div.data h2 {
	font-size: 18px;
}
div.data:hover {
	cursor: pointer;
	opacity: 0.8;
}
div.data.active {
	background-color: var(--biru-tua);
}
div.data:first-child {
	border-radius: 6px 0px 0px 0px;
}
div.data.prestasi {
	border-radius: 0px 6px 0px 0px;
}
div.form {
	width: 100%;
	box-shadow: -12px 4px 21px 7px rgba(0, 0, 0, 0.25);
	border-radius: 0px 0px 6px 6px;
}
div.form label:hover,
input[type="radio"],
input[type="file"],
div.form select:hover,
div.scroll:hover {
	cursor: pointer;
}
span.input-file {
	display: block;
	width: 500px;
	padding-left: 5px;
	padding-top: 5px;
	display: flex;
}
input[type="file"] {
	display: none;
}
input.text-file {
	width: calc(100% - 120px - 10px);
	height: 30px;
	outline: none;
	border: none;
	border-bottom: 2px solid var(--abu-abu);
	margin-left: 10px;
}
div.table-form {
	padding: 25px;
	flex-wrap: wrap;
	display: none;
}
div.table-form.active {
	display: flex;
}
div.table-form p.pesan-error {
	width: 100%;
	color: var(--merah);
	font-size: 12px;
	padding: 5px;
	margin-bottom: 25px;
	position: relative;
	top: -20px;
}
div.table-form.berkas p.pesan-error{
	top: 0px;
}
span.label-input {
	width: 200px;
	margin-right: 25px;
	padding: 5px;
	margin-bottom: 25px;
	height: fit-content;
}
div.form input.text,
textarea.text,
div.form select {
	background-color: var(--putih);
	border: none;
	width: 500px;
	height: 30px;
	padding: 10px;
	outline: none;
	border-bottom: 2px solid var(--abu-abu);
	border-radius: 4px 4px 0 0;
	margin-bottom: 25px;
	margin-left: 10px;
	align-self: flex-end;
}
input[type="date"]:hover {
	cursor: text;
}
div.form select {
	padding: 5px;
}
div.form select.select-hidden {
	display: none;
}
div.radio-hz,
div.radio-vr {
	width: 500px;
	margin-bottom: 25px;
	margin-left: 10px;
	margin-top: 5px;
}
div.form input.text:focus,
div.form textarea.text:focus {
	background-color: var(--putih-2);
	border-bottom: 2px solid var(--biru-tua);
}
div.form textarea.text {
	height: 133px;
	resize: none;
	outline: none;
}
div.form input.radio.down {
	margin-bottom: 10px;
	margin-right: 5px;
}
div.form input.disabled {
	background-color: var(--abu-abu-tua);
}
div.form span.radio {
	margin-right: 15px;
	margin-left: 5px;
}
div.btn-page {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	margin-top: 100px;
}
button.btn,
a.a-btn,
label.input-file {
	padding: 5px;
	color: var(--putih);
	width: 101px;
	height: 30px;
	border: none;
	border-radius: 4px;
}
label.input-file {
	background-color: var(--biru-tua);
	color: var(--putih);
	font-size: 13.33px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 2px;
}
button.btn:hover,
a.a-btn:hover {
	cursor: pointer;
	opacity: 0.8;
}
a.btn-back,
a.a-btn {
	padding: 0px;
	margin-right: 15px;
	text-decoration: none;
	color: var(--putih);
	text-align: center;
	font-size: 13.33px;
	line-height: 30px;
}
.btn-success {
	background-color: var(--hijau);
}
.btn-danger {
	background-color: var(--merah);
}
.btn-primary {
	background-color: var(--biru-tua);
}
div.table-form input.input-error,
div.table-form textarea.input-error,
div.table-form select.input-error,
div.table-form input.input-error:focus,
div.table-form textarea.input-error:focus,
div.table-form select.input-error:focus {
	border: 1px solid var(--merah);
}
div.confirm-alert {
	width: 560px;
	height: fit-content;
	position: fixed;
	background-color: var(--putih);
	flex-wrap: wrap;
	overflow: hidden;
	border-radius: 2px;
	top: 50%;
	left: 50%;
	margin-top: -170px;
	margin-left: -280px;
	display: none;
	z-index: 2;
}
div.confirm-alert.active {
	display: flex;
}
div.ca-head {
	padding: 10px 15px;
	height: 60px;
	width: 100%;
	background-color: var(--biru-muda);
	color: var(--putih);
	display: flex;
	align-items: center;
}
div.ca-head svg {
	color: var(--putih);
}
div.ca-head h2 {
	display: inline-block;
	margin-left: 5px;
}
div.ca-body {
	padding: 10px 15px;
	height: fit-content;
	display: flex;
	flex-wrap: wrap;
}
div.ca-button {
	width: 100%;
	margin-top: 50px;
	display: flex;
	justify-content: flex-end;
}
div.ca-button button {
	margin-right: 10px;
}
div.scroll {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
	border-radius: 50%;
	background-color: var(--hijau);
	color: var(--putih);
	position: fixed;
	bottom: 10px;
	right: 10px;
	transform: translate(100px, 0px);
	box-shadow: 0px 0px 5px black;
	transition: transform 1s;
}
div.scroll.show {
	transform: translate(0px, 0px);
}
h3 a {
	text-decoration: none;
	color: var(--biru-muda);
}
h3 a:hover, h3 a:active {
	color: var(--biru-tua);
	text-decoration: underline;
}
div.list {
	width: 100%;
	padding: 10px;
}
div.list li {
	margin-left: 20px;
}
ol.alphabet li {
	list-style: upper-alpha;
}
div.list.harga {
	margin-bottom: 50px;
}
div.paragraph {
	margin-top: 50px;
}
div.paragraph h4 {
	margin-bottom: 10px;
}
div.paragraph p {
	margin-left: 10px;
}
span.indent-line {
	margin-left: 15px;
}
span.space {
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
}
span.indent {
	display: block;
	margin-left: 17px;
	margin-top: 5px;
	margin-bottom: 10px;
}
span.input-file#prestasi,
span.input-file#berkas {
	margin-top: 15px;
}
div.center {
	display: flex;
	flex-direction: column;
	align-items: center;
}
div.center h2 {
	font-size: 4vw;
	text-align: center;
}
div.form-login {
	display: flex;
	flex-direction: column;
	padding: 10px;
	padding-top: 20px;
	align-items: center;
	width: 95%;
	max-width: 631px;
	min-height: 368px;
	box-shadow: -5px 17px 61px 23px rgba(0, 0, 0, 0.14);
	border-radius: 11px;
}
div.form-login form {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	padding: 10px;
	align-items: center;
	margin-top: 20px;
}
div.form-login span.input-text {
	padding: 5px;
	width: 100%;
	max-width: 428px;
	margin-bottom: 15px;
	display: flex;
	flex-wrap: wrap;
}
span.input-text label {
	display: inline-block;
	width: 75px;
	height: 30px;
	line-height: 30px;
	margin-right: 20px;
}
div.form-login input.text {
	width: 300px;
	height: 30px;
	padding: 5px;
	outline: none;
	border: none;
	border-bottom: 2px solid #7a7a7a;
}
div.form-login div.btn-page{
	margin-top: 50px;
	width: 75%;
}

@media (max-width: 950px) {
	div.form-data {
		width: 90%;
	}
}
@media (max-width: 889px) {
	span.label-input {
		width: 100%;
		margin-bottom: 5px;
	}
	div.form input.text,
	textarea.text,
	span.input-file {
		width: 100%;
		margin-bottom: 25px;
	}
	div.form select {
		width: 100%;
	}
	div.radio-hz {
		margin-bottom: 25px;
		margin-top: 10px;
	}
}
@media (max-width: 560px) {
	div.data h2 {
		font-size: 3.5vw;
	}
	div.confirm-alert {
		width: 80%;
		margin-left: -40%;
	}
}
