main{
    display: flex;
    justify-content: center;
    padding: 80px 0px;
}
div.form-data{
    display: flex;
    flex-wrap: wrap;
    width: 865px;
}
div.data{
    width: 39%;
    height: 59px;
    background-color: #2183FE;;
    color: white;
    text-align: center;
    line-height: 59px;
}
div.data:hover{
    cursor: pointer;
    opacity: 0.8;
}
div.data.active{
    background-color: #1F5BA7;
}
div.data.pribadi{
    border-radius: 6px 0px 0px 0px;
}
div.data.sekolah{
    border-radius: 0px 6px 0px 0px;
}
div.form{
    width: 100%;
    padding: 30px;
    box-shadow: -12px 4px 21px 7px rgba(0, 0, 0, 0.25);
    border-radius: 0px 6px 6px 6px;
}
div.form label:hover, input[type="radio"]{
    cursor: pointer;
}
div.form table{
    width: 90%;
}
div.form td{
    padding: 10px;
    width: calc(100% - 200px);
}
div.form td:first-child{
    width: 200px;
}
div.form input.text, textarea.text{
    background-color: white;
    border: none;
    width: 100%;
    height: 30px;
    padding: 10px;
    outline: none;
    border-bottom: 2px solid #CED4DA;
    border-radius: 4px;
}
div.form input.text:focus , div.form textarea.text:focus{
    background-color: #e8f0fe;
    border-bottom: 2px solid #1F5BA7;
}
div.form textarea.text{
    height: 133px;
    resize: none;
    outline: none;
}
/* input[type="file"]{
    border: 1px solid;
    height: 30px;
} */
/* input#file-upload-button{
    width: 100px;
} */
div.form input.radio.down{
    margin-bottom: 10px;
    margin-right: 5px;
}
div.form input.disabled{
    background-color: #818181;
}
div.form span.radio{
    margin-right: 15px;
    margin-left: 5px;
}
div.table-form{
    display: none;
}
div.table-form.active{
    display: block;
}
div.btn{
    padding: 15px;
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
}
button.btn, a.btn{
    padding: 5px;
    color: white;
    width: 101px;
    height: 30px;
    background-color: #83A342;
    border: none;
    border-radius: 10px;
}
button.btn:hover{
    cursor: pointer;
    opacity: 0.8;
}
a.btn-back{
    padding: 0px;
    background-color: #1F5BA7;
    margin-right: 15px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 13.33px;
    line-height: 30px;
}