main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 0px;
}
div#logout,div#login {
	display: flex;
	width: 100%;
	padding: 10px;
	justify-content: flex-end;
	margin-top: -40px;
	margin-bottom: 15px;
}
div#logout svg:hover, div#login svg:hover {
	fill: var(--merah);
	cursor: pointer;
}
div#login svg:hover{
	fill: var(--hijau);
}
div.container.ct-20{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	padding: 20px 0px;
}
div.container.ct-20.admin{
	min-height: auto;
	position: static;
}
div.card {
	padding: 20px 15px;
	width: 380px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}
div.card p {
	width: 100%;
	word-wrap: normal;
}
div.img {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 318px;
	height: 318px;
	background-color: white;
	border-radius: 10px;
	margin-bottom: 20px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
div.img:hover {
	transition: box-shadow 0.5s;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
		rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
		rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
div.img img {
	width: 182px;
	height: 182px;
}
a {
	text-decoration: none;
	margin-right: 40px;
	color: black;
}
div.card p:hover {
	color: var(--hijau);
}
@media (max-width: 450px) {
	div.img,
	div.img img {
		width: 50%;
		height: 50%;
	}
	div.img {
		padding: 15px;
	}
	main h2 {
		font-size: 20px;
	}
	div.card {
		width: -moz-fit-content;
		width: fit-content;
	}
}
@media (max-width: 350px) {
	main h2 {
		font-size: 15px;
	}
	div.card p {
		font-size: 10px;
	}
}
